<header  class="container w-full">
    <div class="logo" >
      <button (click)="Clik()"><i class="fa-solid fa-indent text-[20px]"></i></button>
  </div>
  <ul class="list flex mt-[17px] ml-[585px]" [ngClass]="status ? 'block' : 'hidden' ">
      <li class="px-4 font-bold" ><a href="">Trang chủ</a></li>
      <li class="px-4 font-bold"><a href="/work">Dự án tham gia</a></li>
      <li class="px-2.5 font-bold"><a href="/blog">Thông tin các nhân</a></li>
     
      <li><a href="signup" *ngIf="!dangxuat"><i class="fa-solid fa-user"></i></a></li>
      <li class="mx-[5px]" (click)="removelocal()" *ngIf="dangxuat" ><i class="fa-solid fa-right-from-bracket"></i></li>
  </ul>
</header> 