<p>signin works!</p>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="users.email" class="form-control" name="email" #emial="ngModel" required minlength="5">
        <div class="text-[red] text-[14px]" *ngIf="emial.errors?.['required']&& (emial.dirty || emial.touched)">Bạn chưa nhập</div>
        <div class="text-[red] text-[14px]" *ngIf="emial.errors?.['minlength']&& (emial.dirty || emial.touched)">Nhập trên 5 ký tự</div>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="users.password" class="form-control" name="password" #pass="ngModel" required minlength="5">
      <div class="text-[red] text-[14px]" *ngIf="pass.errors?.['required']&& (pass.dirty || pass.touched)">Bạn chưa nhập</div>
      <div class="text-[red] text-[14px]" *ngIf="pass.errors?.['minlength']&& (pass.dirty || pass.touched)">Nhập trên 5 ký tự</div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>