@media (max-width: 640px) {
    .container{
        width: auto; 
        display: flex;
        flex-direction: column-reverse;
    }
    .profile{
       
        margin-left: 0px ;
        
    }
    .container-text{
        /* width: auto; */
        width: 100%;

        /* align-items: center;
        margin: 0px auto; */
    }
    .container2{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .posts{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .container3{
        width: auto;
        display: block;
        grid-template-columns: 1fr;width: auto;
        grid-template-columns: 1fr;
    }
    .container3 .div .image{
        width: 500px;
    }
    .imagework{
        /* width: 50%; */
        width: 70%;
        height: 200px;
        /* object-fit: cover; */
    }
    .descwork{
        width: 350px;
    }

}