<div class="flex w-full">
    <div class="w-[67%]">
       <div class="mt-[135px] ml-[115px] ">
            <h1 class="font-bold text-[35px] mb-[14px] ">Hi, I am John, <br> Creative Technologits</h1>
            <p class="text-[13px] w-[420px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <button class="bg-[#FF6464] text-center mt-[27px] text-[17px] px-[17px] py-[7px] text-white font-semibold">Dowload Resume</button>
       </div>
    </div>
    <div class="w-[33%]"> <img class="w-[200px] h-[200px] mt-[122px] rounded-full ..." src="https://res.cloudinary.com/dkrifqhuk/image/upload/v1645077420/asm/o5wqm1zuzuofhcdjyfje.jpg" alt=""></div>
</div>
<!-- Recent posts -->
<div class="mt-[55px] bg-[#EDF7FA] flex pb-[33px]">
    <div class="w-[335px] ml-[116px]">
        <div class="bg-[#EDF7FA] h-[39px]"><p class="text-[18px] ml-[1px] mt-[18px]">Recent posts</p></div>
        <div class="bg-white pl-[20px] rounded-md py-[17px]">
            <h1 class="font-bold text-[20px]">Making a design system  from scratch</h1>
            <p class="mt-[20px] mb-[11px]">12 Feb 2020 <span class="mx-[11px]">|</span> <span>Design, Patteern</span></p> 
            <p class="text-[13px] w-[310px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <div class="ml-[18px] w-[335px] " >
        <div class="bg-[#EDF7FA] h-[38px] mt-[20px]"><p class="float-right text-[14px] text-[#00A8CC]">View all</p></div>
        <div class="bg-white pl-[18px] py-[17px] rounded-md">
            <h1 class="font-bold text-[20px]">Creating pixel perfect icons in Figma</h1>
            <p class="mt-[20px] mb-[11px]">12 Feb 2020 <span class="mx-[11px]">|</span> <span>Design, Patteern</span></p> 
            <p class="text-[13px] w-[310px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        
    </div>
</div>
<!-- LIST Products -->
<div class="ml-[117px]">
    <div>
        <p class="text-[18px] mt-[20px] mb-[20px]">Featured works</p>
    </div>
    <div class="flex" *ngFor="let work of worklist ">
        <div class="w-[25%] mt-[10px]"><img class="w-[196px] h-[145px] rounded-md" src="{{work.image}}" alt=""></div>
        <div class="w-[75%] ml-[12px]">
            <h1 class="text-[23px] font-bold text-[#142850]">{{work.name}}</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]"><a href="works/{{work.id}}/detail">Dashboard</a></span>
            <p class="text-[13px] w-[470px] mt-[15px]">{{work.desc}}</p>
        </div>
    </div>
    <hr class="my-[20px] w-[690px]">
    <!-- <div class="flex">
        <div class="w-[25%] mt-[10px]"><img class="w-[196px] h-[145px] rounded-md" src="https://res.cloudinary.com/dkrifqhuk/image/upload/v1645077420/asm/o5wqm1zuzuofhcdjyfje.jpg" alt=""></div>
        <div class="w-[75%] ml-[12px]">
            <h1 class="text-[23px] font-bold text-[#142850] mt-[15px]">Vibrant Portraits Of 2020</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2018</button> <span class="ml-[15px]">lllustration</span>
            <p class="text-[13px] w-[470px] mt-[15px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <hr class="my-[20px] w-[690px]">
    <div class="flex">
        <div class="w-[25%] mt-[10px]"><img class="w-[196px] h-[145px] rounded-md" src="https://res.cloudinary.com/dkrifqhuk/image/upload/v1645077420/asm/o5wqm1zuzuofhcdjyfje.jpg" alt=""></div>
        <div class="w-[75%] ml-[12px] mt-[10px]">
            <h1 class="text-[23px] font-bold text-[#142850]">Designing Dashboards</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]">Dashboard</span>
            <p class="text-[13px] w-[470px] mt-[15px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <hr class="my-[20px] w-[690px]"> -->
</div>