
<div class="ml-[187px]">
    <ul>
        <li *ngFor="let cate of categories"><a href="category/{{cate.id}}">{{cate.name}}</a></li>
    </ul>
    <h1 class="font-bold text-[32px] mt-[82px] mb-[20px]">Work</h1>
    <div class="flex" *ngFor="let works of worklist">
        <div class="w-[28%] mt-[10px]"><img class="w-[198px] h-[145px] rounded-md" src="{{works.image}}" alt=""></div>
        <div class="w-[72%] ml-[12px]">
            <h1 class="text-[23px] font-bold text-[#142850]">{{works.name}}</h1>
            <a href="/works/{{works.id}}/detail"><button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]">Dashboard</span></a>
            <p class="text-[13px] w-[330px] mt-[15px]">{{works.desc}}</p>
        </div>
    </div>
    <hr class="mt-[35px] mb-[20px] w-[500px]">
    <!-- <div class="flex">
        <div class="w-[28%] mt-[10px]"><img class="w-[198px] h-[145px] rounded-md" src="https://res.cloudinary.com/dkrifqhuk/image/upload/v1645077475/asm/cegz9cg6tqz87pi47j7q.jpg" alt=""></div>
        <div class="w-[72%] ml-[12px] mt-[10px]">
            <h1 class="text-[23px] font-bold text-[#142850]">Designing Dashboards</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]">Dashboard</span>
            <p class="text-[13px] w-[330px] mt-[15px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <hr class="mt-[35px] mb-[30px] w-[500px]">
    <div class="flex">
        <div class="w-[28%] mt-[10px]"><img class="w-[198px] h-[145px] rounded-md" src="https://res.cloudinary.com/dkrifqhuk/image/upload/v1645077475/asm/cegz9cg6tqz87pi47j7q.jpg" alt=""></div>
        <div class="w-[72%] ml-[12px]">
            <h1 class="text-[23px] font-bold text-[#142850]">Designing Dashboards</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]">Dashboard</span>
            <p class="text-[13px] w-[330px] mt-[15px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <hr class="mt-[35px] mb-[20px] w-[500px]">
    <div class="flex">
        <div class="w-[28%] mt-[10px]"><img class="w-[198px] h-[145px] rounded-md" src="./IMG_8300.JPG" alt=""></div>
        <div class="w-[72%] ml-[12px]">
            <h1 class="text-[23px] font-bold text-[#142850]">Designing Dashboards</h1>
            <button class="bg-[#142850] rounded-xl text-white font-bold text-center px-[7px] mt-[15px]">2020</button> <span class="ml-[15px]">Dashboard</span>
            <p class="text-[13px] w-[330px] mt-[15px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
    <hr class="mt-[35px] mb-[20] w-[500px]"> -->
</div>