<p>product-add works!</p>
<app-product></app-product>
<form #formAdd="ngForm" action="" (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="product.name" name="name" #name="ngModel" required minlength="5">
    <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">Name is required</div>
    <div *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)">Name minlength</div>
    <input type="text" [(ngModel)]="product.image" name="image">
    <input type="text" [(ngModel)]="product.desc" name="desc">

    <button>Add</button>
</form>