<p>categories works!</p>
<button class="btn btn-info float-right mr-[20px] my-[20px]" ><a href="admin/workss/add">Add</a></button>
<table class="table table-bordered">
    <tbody>
        <tr *ngFor="let product of catelist; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td><img width="150" src="{{ product.image }}" alt=""></td>
            <td>{{ product.starttime }}</td>
            <td>{{ product.endtime }}</td>
            <td>{{ product.location}}</td>
            <td>{{ product.linkgithub }}</td>
            <td>
                <a href="admin/categories/edit/{{product.id}}"><button class="btn btn-info">Edit</button></a>
            </td>
            <td>
                <a href="admin/workss/{{product.id}}"><button class="btn btn-info">Details</button></a>
            </td>
            <td><button class="btn btn-info" (click)="remove(product.id)">Delete</button> </td>
        </tr>
    </tbody>
</table>