<div class="ml-[187px]">
  
    <h1 class="font-bold text-[32px] mt-[82px] mb-[20px]">{{workcate.name}}</h1>
     <p class="">Thời gian: {{workcate.starttime}} đến {{workcate.endtime}}</p>
    <p class="text-[12px] mt-[20px]">Vị trí: {{workcate.location}} </p>
    <p>{{workcate.desc}}</p>
   
    <img class="w-[545px] h-[365px] mt-[40px]" src="" alt="">
    <div class="mt-[50px]"*ngFor="let cate of workcate.works" >
        <h1 class="text-[23px] font-bold">{{cate.name}}</h1>
        <p class="text-[13px] mt-[20px] w-[520px]">{{cate.desc}}</p>
        <img class="mt-[20px] w-[545px]" src="{{cate.image}}" alt="">
    </div>
    <hr class="mt-[35px] mb-[20px] w-[500px]">
</div>
<!-- {{workcate.name}}
<div *ngFor="let cate of workcate.works">
    <p>{{cate.name}}</p>
</div> -->
