<p>products works!</p>
<button class="btn btn-info float-right mr-[20px] my-[20px]" ><a href="admin/products/add">Add</a></button>
<table class="table table-bordered">
    <tbody>
        <tr *ngFor="let product of productList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td><img src="{{ product.image }}" alt=""></td>
            <td>{{ product.desc }}</td>
            <td>
                <a href="admin/products/{{product.id}}">Info</a>
            </td>
            <td>
                <a href="admin/products/edit/{{product.id}}">edit</a>
            </td>
            <td><button class="btn btn-info" (click)="remove(product.id)">Delete</button> </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
<!-- <div *ngIf="showproduct">
    {{ showproduct.name }}
</div> -->