<p>products works!</p>
<table class="table table-bordered">
    <tbody>
        <tr *ngFor="let product of productList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <a href="products/{{product.id}}">Info</a>
            </td>
            <td>
                <a href="product/edit/{{product.id}}">edit</a>
            </td>
            <td><button class="btn btn-info" (click)="remove(product.id)">Delete</button> </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
<!-- <div *ngIf="showproduct">
    {{ showproduct.name }}
</div> -->