<p>detail-blog-admin works!</p>
<button class="btn btn-info float-right mr-[20px] my-[20px]" ><a href="admin/blogdetail/add">Add</a></button>
<table class="table table-bordered mb-[50px]">
    <tbody>
        <tr *ngFor="let work of blog.productdetail let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ work.name }}</td>
            <td *ngIf="work.image"><img width="150" src="{{ work.image }}" alt=""></td>
            <td>{{ work.desc }}</td>
            <td>
                <a href="admin/works/edit/{{work.id}}"><button class="btn btn-info">Edit</button></a>
            </td>
            <td><button class="btn btn-info" (click)="remove(work.id)">Delete</button> </td>
        </tr>
    </tbody>
</table >